*{ margin: 0; padding: 0; box-sizing: border-box;}
body{
    background-color: #b4f2e1;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.Greeting{
    padding: 2px 2px;
    color: #fa9191;
    border-radius: 20px;
    text-align: center;
    margin-top: 0px;
    font-size: 50px;

}

.span{
    color: #eb6383;
    }
 .name{
    color: #fa9191;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0px 2px 4px #fa9191;
} 
@media (max-width:768px){
    .card{
        float: none;
        margin: 5%;
        width:90%;
    }
}


